<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form method="post" action="Name.cshtml">
        Podaj imię: <input type="text" name="name" />
        <input type="submit" name="submit" />
    </form>

</body>
</html>
